%% This is an example of a config that starts everything up.
%% Atm. it is a list of nodes and their initial conditions.
[{p2phun, [
    {nodes, [
        %record(node_config, {id, ip, port, bootstrap_peers})
        {node_config, 1, "127.0.0.1", 5001, [{"127.0.0.1", 5002}]},
        {node_config, 2, "127.0.0.1", 5002, []},
        {node_config, 3, "127.0.0.1", 5003, [{"127.0.0.1", 5002}]}
        ]}
]}].
