{erl_opts, [
    {parse_transform, lager_transform}
    ]}.

{deps, [
    % JSON encoder/decoder
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", "master"}},
    %% Python communication layer
    %{erlport, ".*", {git, "https://github.com/hdima/erlport.git", "master"}},
    %% Logging framework.
    {lager, ".*", {git, "https://github.com/basho/lager.git", "master"}},
    %% Process dictionary.
    %%%%{gproc, ".*", {git, "https://github.com/esl/gproc.git", "master"}},
    %% Socket handling.
    {ranch, ".*", {git, "https://github.com/extend/ranch.git", "master"}}
]}.
